# Getting Financial Data - Pandas Datareader

### Introduction:

This time you will get data from a website.


### Step 1. Import the necessary libraries

In [56]:
import numpy as np
import pandas as pd
import pandas_datareader as pdr

### Step 2. Create your time range (start and end variables). The start date should be 01/01/2015 and the end should today (whatever your today is).

In [57]:
rng = pd.date_range('01/01/2015', pd.Timestamp.today())
rng

DatetimeIndex(['2015-01-01', '2015-01-02', '2015-01-03', '2015-01-04',
               '2015-01-05', '2015-01-06', '2015-01-07', '2015-01-08',
               '2015-01-09', '2015-01-10',
               ...
               '2021-07-22', '2021-07-23', '2021-07-24', '2021-07-25',
               '2021-07-26', '2021-07-27', '2021-07-28', '2021-07-29',
               '2021-07-30', '2021-07-31'],
              dtype='datetime64[ns]', length=2404, freq='D')

### Step 3. Get an API key for one of the APIs that are supported by Pandas Datareader, preferably for AlphaVantage.

If you do not have an API key for any of the supported APIs, it is easiest to get one for [AlphaVantage](https://www.alphavantage.co/support/#api-key). (Note that the API key is shown directly after the signup. You do *not* receive it via e-mail.)

(For a full list of the APIs that are supported by Pandas Datareader, [see here](https://pydata.github.io/pandas-datareader/readers/index.html). As the APIs are provided by third parties, this list may change.)

### Step 4. Use Pandas Datarader to read the daily time series for the Apple stock (ticker symbol AAPL) between 01/01/2015 and today, assign it to df_apple and print it.

In [58]:
df_apple = pdr.data.DataReader(name='AAPL', data_source='av-daily',
                               start=rng[0], end=rng[-1],
                               api_key='DOMSBVEMIWY5BYEF')

### Step 5. Add a new column "stock" to the dataframe and add the ticker symbol

In [59]:
df_apple['stock'] = 'AAPL'
df_apple

               open    high      low   close     volume stock
2015-01-02  111.390  111.44  107.350  109.33   53204626  AAPL
2015-01-05  108.290  108.65  105.410  106.25   64285491  AAPL
2015-01-06  106.540  107.43  104.630  106.26   65797116  AAPL
2015-01-07  107.200  108.20  106.695  107.75   40105934  AAPL
2015-01-08  109.230  112.15  108.700  111.89   59364547  AAPL
...             ...     ...      ...     ...        ...   ...
2021-07-26  148.270  149.83  147.700  148.99   72434089  AAPL
2021-07-27  149.120  149.21  145.550  146.77  104818578  AAPL
2021-07-28  144.810  146.97  142.540  144.98  118931191  AAPL
2021-07-29  144.685  146.55  144.580  145.64   54323047  AAPL
2021-07-30  144.380  146.33  144.110  145.86   70440626  AAPL

[1656 rows x 6 columns]

### Step 6. Repeat the two previous steps for a few other stocks, always creating a new dataframe: Tesla, IBM and Microsoft. (Ticker symbols TSLA, IBM and MSFT.)

In [60]:
df_tesla = pdr.data.DataReader('TSLA', 'av-daily', start=rng[0], end=rng[-1], api_key='DOMSBVEMIWY5BYEF')
df_ibm = pdr.data.DataReader('IBM', 'av-daily', start=rng[0], end=rng[-1], api_key='DOMSBVEMIWY5BYEF')
df_microsoft = pdr.data.DataReader('MSFT', 'av-daily', start=rng[0], end=rng[-1], api_key='DOMSBVEMIWY5BYEF')

In [61]:
df_tesla['stock'] = 'TSLA'
df_tesla

               open      high       low    close    volume stock
2015-01-02  222.870  223.2500  213.2600  219.310   4764443  TSLA
2015-01-05  214.550  216.5000  207.1626  210.090   5368477  TSLA
2015-01-06  210.060  214.2000  204.2100  211.280   6261936  TSLA
2015-01-07  213.350  214.7800  209.7800  210.950   2968390  TSLA
2015-01-08  212.810  213.7999  210.0100  210.615   3442509  TSLA
...             ...       ...       ...      ...       ...   ...
2021-07-26  650.970  668.1999  647.1100  657.620  25336556  TSLA
2021-07-27  663.400  666.5000  627.2400  644.780  32813290  TSLA
2021-07-28  646.995  654.9699  639.4001  646.980  16006596  TSLA
2021-07-29  649.790  683.6900  648.8000  677.350  29688446  TSLA
2021-07-30  671.758  697.5300  669.0000  687.200  28706645  TSLA

[1656 rows x 6 columns]

In [62]:
df_ibm['stock'] = 'IBM'
df_ibm

              open     high     low   close   volume stock
2015-01-02  161.31  163.310  161.00  162.06  5525341   IBM
2015-01-05  161.27  161.270  159.19  159.51  4880389   IBM
2015-01-06  159.67  159.960  155.17  156.07  6145670   IBM
2015-01-07  157.20  157.200  154.03  155.05  4701015   IBM
2015-01-08  156.24  159.044  155.55  158.42  4240585   IBM
...            ...      ...     ...     ...      ...   ...
2021-07-26  141.39  143.000  141.13  142.77  4246266   IBM
2021-07-27  142.53  143.640  141.60  142.75  3137027   IBM
2021-07-28  143.01  143.100  141.64  141.77  2544099   IBM
2021-07-29  142.33  142.960  141.60  141.93  2657669   IBM
2021-07-30  141.52  141.850  140.79  140.96  3535555   IBM

[1656 rows x 6 columns]

In [63]:
df_microsoft['stock'] = 'MSFT'
df_microsoft

               open      high       low    close    volume stock
2015-01-02   46.660   47.4200   46.5400   46.760  27913852  MSFT
2015-01-05   46.370   46.7300   46.2500   46.325  39673865  MSFT
2015-01-06   46.380   46.7490   45.5400   45.650  36447854  MSFT
2015-01-07   45.980   46.4600   45.4900   46.230  29114061  MSFT
2015-01-08   46.750   47.7499   46.7200   47.590  29645202  MSFT
...             ...       ...       ...      ...       ...   ...
2021-07-26  289.000  289.6900  286.6420  289.050  23176073  MSFT
2021-07-27  289.430  289.5750  282.9500  286.540  33604073  MSFT
2021-07-28  288.990  290.1500  283.8303  286.220  33566853  MSFT
2021-07-29  286.235  288.6180  286.0800  286.500  17782235  MSFT
2021-07-30  285.170  286.6600  283.9100  284.910  20944846  MSFT

[1656 rows x 6 columns]

### Step 7. Combine the four separate dataFrames into one combined dataFrame df that holds the information for all four stocks

In [92]:
df_all = pd.concat([df_apple, df_tesla, df_ibm, df_microsoft])
df_all

               open     high       low   close    volume stock
2015-01-02  111.390  111.440  107.3500  109.33  53204626  AAPL
2015-01-05  108.290  108.650  105.4100  106.25  64285491  AAPL
2015-01-06  106.540  107.430  104.6300  106.26  65797116  AAPL
2015-01-07  107.200  108.200  106.6950  107.75  40105934  AAPL
2015-01-08  109.230  112.150  108.7000  111.89  59364547  AAPL
...             ...      ...       ...     ...       ...   ...
2021-07-26  289.000  289.690  286.6420  289.05  23176073  MSFT
2021-07-27  289.430  289.575  282.9500  286.54  33604073  MSFT
2021-07-28  288.990  290.150  283.8303  286.22  33566853  MSFT
2021-07-29  286.235  288.618  286.0800  286.50  17782235  MSFT
2021-07-30  285.170  286.660  283.9100  284.91  20944846  MSFT

[6624 rows x 6 columns]

### Step 8. Shift the stock column into the index (making it a multi-level index consisting of the ticker symbol and the date).

In [93]:
df_all.index = pd.to_datetime(df_all.index)
df_all = df_all.set_index(['stock', df_all.index])
df_all.index.set_names(names='date', level=1, inplace=True)
df_all

                     open     high       low   close    volume
stock date
AAPL  2015-01-02  111.390  111.440  107.3500  109.33  53204626
      2015-01-05  108.290  108.650  105.4100  106.25  64285491
      2015-01-06  106.540  107.430  104.6300  106.26  65797116
      2015-01-07  107.200  108.200  106.6950  107.75  40105934
      2015-01-08  109.230  112.150  108.7000  111.89  59364547
...                   ...      ...       ...     ...       ...
MSFT  2021-07-26  289.000  289.690  286.6420  289.05  23176073
      2021-07-27  289.430  289.575  282.9500  286.54  33604073
      2021-07-28  288.990  290.150  283.8303  286.22  33566853
      2021-07-29  286.235  288.618  286.0800  286.50  17782235
      2021-07-30  285.170  286.660  283.9100  284.91  20944846

[6624 rows x 5 columns]

### Step 7. Create a dataFrame called vol, with the volume values.

In [178]:
vol = df_all.volume
vol

stock  date
AAPL   2015-01-02    53204626
       2015-01-05    64285491
       2015-01-06    65797116
       2015-01-07    40105934
       2015-01-08    59364547
                       ...
MSFT   2021-07-26    23176073
       2021-07-27    33604073
       2021-07-28    33566853
       2021-07-29    17782235
       2021-07-30    20944846
Name: volume, Length: 6624, dtype: int64

### Step 8. Aggregate the data of volume to weekly.
Hint: Be careful to not sum data from the same week of 2015 and other years.

In [186]:
volw = vol.groupby('stock').resample('W', level=1).sum()
# volw.index = volw.index.set_levels(np.arange(1, 100000), level=1)
# volw
#WRONG

stock  date
AAPL   1        53204626
       2       282868187
       3       304226647
       4       198737041
       5       465842684
                 ...
TSLA   340     103666230
       341      82990274
       342     105114865
       343      80448226
       344     132551533
Name: volume, Length: 1376, dtype: int64

### Step 9. Find all the volume traded in the year of 2015

In [185]:
vol.loc[vol.index.get_level_values(1).year == 2015].groupby('stock').sum()

stock
AAPL    13064316775
IBM      1105545521
MSFT     9057582311
TSLA     1086708380
Name: volume, dtype: int64