# Regiment

### Introduction:

Special thanks to: http://chrisalbon.com/ for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [6]:
import numpy as np
import pandas as pd

### Step 2. Create the DataFrame with the following values:

In [7]:
raw_data = {
    'regiment': ['Nighthawks', 'Nighthawks', 'Nighthawks', 'Nighthawks', 'Dragoons', 'Dragoons', 'Dragoons', 'Dragoons',
                 'Scouts', 'Scouts', 'Scouts', 'Scouts'],
    'company': ['1st', '1st', '2nd', '2nd', '1st', '1st', '2nd', '2nd', '1st', '1st', '2nd', '2nd'],
    'name': ['Miller', 'Jacobson', 'Ali', 'Milner', 'Cooze', 'Jacon', 'Ryaner', 'Sone', 'Sloan', 'Piger', 'Riani',
             'Ali'],
    'preTestScore': [4, 24, 31, 2, 3, 4, 24, 31, 2, 3, 2, 3],
    'postTestScore': [25, 94, 57, 62, 70, 25, 94, 57, 62, 70, 62, 70]}

### Step 3. Assign it to a variable called regiment.
#### Don't forget to name each column

In [8]:
regiment = pd.DataFrame(raw_data)
regiment.head()

     regiment company      name  preTestScore  postTestScore
0  Nighthawks     1st    Miller             4             25
1  Nighthawks     1st  Jacobson            24             94
2  Nighthawks     2nd       Ali            31             57
3  Nighthawks     2nd    Milner             2             62
4    Dragoons     1st     Cooze             3             70

### Step 4. What is the mean preTestScore from the regiment Nighthawks?

In [23]:
regiment.groupby('regiment').mean().loc['Nighthawks', 'preTestScore']
#or
regiment.set_index(['regiment']).loc['Nighthawks', 'preTestScore'].mean()
#or
regiment.query('regiment == "Nighthawks"')['preTestScore'].mean()

15.25

### Step 5. Present general statistics by company

In [24]:
regiment.groupby('company').describe()

        preTestScore                                                      \
               count       mean        std  min   25%   50%    75%   max
company
1st              6.0   6.666667   8.524475  2.0  3.00   3.5   4.00  24.0
2nd              6.0  15.500000  14.652645  2.0  2.25  13.5  29.25  31.0

        postTestScore
                count       mean        std   min    25%   50%   75%   max
company
1st               6.0  57.666667  27.485754  25.0  34.25  66.0  70.0  94.0
2nd               6.0  67.000000  14.057027  57.0  58.25  62.0  68.0  94.0

### Step 6. What is the mean of each company's preTestScore?

In [25]:
regiment.groupby('company')['preTestScore'].mean()

company
1st     6.666667
2nd    15.500000
Name: preTestScore, dtype: float64

### Step 7. Present the mean preTestScores grouped by regiment and company

In [27]:
hier = regiment.groupby(['regiment', 'company'])['preTestScore'].mean()
hier

regiment    company
Dragoons    1st         3.5
            2nd        27.5
Nighthawks  1st        14.0
            2nd        16.5
Scouts      1st         2.5
            2nd         2.5
Name: preTestScore, dtype: float64

### Step 8. Present the mean preTestScores grouped by regiment and company without heirarchical indexing

In [28]:
hier.unstack()

company      1st   2nd
regiment
Dragoons     3.5  27.5
Nighthawks  14.0  16.5
Scouts       2.5   2.5

### Step 9. Group the entire dataframe by regiment and company

In [30]:
group = regiment.groupby(['regiment', 'company'])

### Step 10. What is the number of observations in each regiment and company

In [37]:
group.count().iloc[:, 0]

regiment    company
Dragoons    1st        2
            2nd        2
Nighthawks  1st        2
            2nd        2
Scouts      1st        2
            2nd        2
Name: name, dtype: int64

### Step 11. Iterate over a group and print the name and the whole data from the regiment

In [42]:
for (gr, data) in group:
    print(gr)
    print(data.iloc[:, 2:])

('Dragoons', '1st')
    name  preTestScore  postTestScore
4  Cooze             3             70
5  Jacon             4             25
('Dragoons', '2nd')
     name  preTestScore  postTestScore
6  Ryaner            24             94
7    Sone            31             57
('Nighthawks', '1st')
       name  preTestScore  postTestScore
0    Miller             4             25
1  Jacobson            24             94
('Nighthawks', '2nd')
     name  preTestScore  postTestScore
2     Ali            31             57
3  Milner             2             62
('Scouts', '1st')
    name  preTestScore  postTestScore
8  Sloan             2             62
9  Piger             3             70
('Scouts', '2nd')
     name  preTestScore  postTestScore
10  Riani             2             62
11    Ali             3             70