# United States - Crime Rates - 1960 - 2014

### Introduction:

This time you will create a data 

Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [212]:
import numpy as np
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/US_Crime_Rates/US_Crime_Rates_1960_2014.csv).

### Step 3. Assign it to a variable called crime.

In [213]:
url = 'https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/US_Crime_Rates/US_Crime_Rates_1960_2014.csv'
crime = pd.read_csv(url)
crime.head()

,Year,Population,Total,Violent,Property,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft
0,1960,179323175,3384200,288460,3095700,9110,17190,107840,154320,912100,1855400,328200
1,1961,182992000,3488000,289390,3198600,8740,17220,106670,156760,949600,1913000,336000
2,1962,185771000,3752200,301510,3450700,8530,17550,110860,164570,994300,2089600,366800
3,1963,188483000,4109500,316970,3792500,8640,17650,116470,174210,1086400,2297800,408300
4,1964,191141000,4564600,364220,4200400,9360,21420,130390,203050,1213200,2514400,472800

### Step 4. What is the type of the columns?

In [214]:
crime.dtypes

Year                  int64
Population            int64
Total                 int64
Violent               int64
Property              int64
Murder                int64
Forcible_Rape         int64
Robbery               int64
Aggravated_assault    int64
Burglary              int64
Larceny_Theft         int64
Vehicle_Theft         int64
dtype: object

##### Have you noticed that the type of Year is int64. But pandas has a different type to work with Time Series. Let's see it now.

### Step 5. Convert the type of the column Year to datetime64

In [215]:
crime['Year'].apply(lambda x: np.datetime64(str(x)))
#or
crime.Year = pd.to_datetime(crime.Year, format='%Y')

### Step 6. Set the Year column as the index of the dataframe

In [216]:
print(crime.dtypes)
crime.set_index('Year', inplace=True, drop=True)

Year                  datetime64[ns]
Population                     int64
Total                          int64
Violent                        int64
Property                       int64
Murder                         int64
Forcible_Rape                  int64
Robbery                        int64
Aggravated_assault             int64
Burglary                       int64
Larceny_Theft                  int64
Vehicle_Theft                  int64
dtype: object

### Step 7. Delete the Total column

In [217]:
crime.drop('Total', axis=1)
#or
del crime['Total']

### Step 8. Group the year by decades and sum the values

#### Pay attention to the Population column number, summing this column is a mistake

In [218]:
resampler = crime.resample('10AS')
population = resampler.agg({'Population': 'max'}).astype('int64')

crime_decades = resampler.sum()
crime_decades['Population'] = population
#or
crime_decades = population.combine_first(resampler.sum())

crime_decades

,Aggravated_assault,Burglary,Forcible_Rape,Larceny_Theft,Murder,Population,Property,Robbery,Vehicle_Theft,Violent
Year,,,,,,,,,,
1960-01-01,2158520,13321100,236720,26547700,106180,201385000,45160900,1633510,5292100,4134930
1970-01-01,4702120,28486000,554570,53157800,192230,220099000,91383800,4159020,9739900,9607930
1980-01-01,7619130,33073494,865639,72040253,206439,248239000,117048900,5383109,11935411,14074328
1990-01-01,10568963,26750015,998827,77679366,211664,272690813,119053499,5748930,14624418,17527048
2000-01-01,8652124,21565176,922499,67970291,163068,307006550,100944369,4230366,11412834,13968056
2010-01-01,3764142,10125170,421059,30401698,72867,318857056,44095950,1749809,3569080,6072017

### Step 9. What is the most dangerous decade to live in the US?

In [219]:
crime_decades.sort_values(by='Murder', ascending=False)
#or
crime_decades.idxmax()

Aggravated_assault   1990-01-01
Burglary             1980-01-01
Forcible_Rape        1990-01-01
Larceny_Theft        1990-01-01
Murder               1990-01-01
Population           2010-01-01
Property             1990-01-01
Robbery              1990-01-01
Vehicle_Theft        1990-01-01
Violent              1990-01-01
dtype: datetime64[ns]