# Wind Statistics

### Introduction:

The data have been modified to contain some missing values, identified by NaN.  
Using pandas should make this exercise
easier, in particular for the bonus question.

You should be able to perform all of these operations without using
a for loop or other looping construct.


1. The data in 'wind.data' has the following format:

In [99]:
"""
Yr Mo Dy   RPT   VAL   ROS   KIL   SHA   BIR   DUB   CLA   MUL   CLO   BEL   MAL
61  1  1 15.04 14.96 13.17  9.29   NaN  9.87 13.67 10.25 10.83 12.58 18.50 15.04
61  1  2 14.71   NaN 10.83  6.50 12.62  7.67 11.50 10.04  9.79  9.67 17.54 13.83
61  1  3 18.50 16.88 12.33 10.13 11.17  6.17 11.25   NaN  8.50  7.67 12.75 12.71
"""

'\nYr Mo Dy   RPT   VAL   ROS   KIL   SHA   BIR   DUB   CLA   MUL   CLO   BEL   MAL\n61  1  1 15.04 14.96 13.17  9.29   NaN  9.87 13.67 10.25 10.83 12.58 18.50 15.04\n61  1  2 14.71   NaN 10.83  6.50 12.62  7.67 11.50 10.04  9.79  9.67 17.54 13.83\n61  1  3 18.50 16.88 12.33 10.13 11.17  6.17 11.25   NaN  8.50  7.67 12.75 12.71\n'

   The first three columns are year, month and day.  The
   remaining 12 columns are average windspeeds in knots at 12
   locations in Ireland on that day.   

   More information about the dataset go [here](wind.desc).

### Step 1. Import the necessary libraries

In [100]:
import numpy as np
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/Wind_Stats/wind.data)

### Step 3. Assign it to a variable called data and replace the first 3 columns by a proper datetime index.

In [101]:
url = 'https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/Wind_Stats/wind.data'

#or JUST
data = pd.read_csv(url, sep='\s+', parse_dates=[[0, 1, 2]])

data = pd.read_csv(url, sep='\s+')
dates = pd.to_datetime((data.Yr + 2000).astype(str) + '-' + (data.Mo).astype(str) + '-' + (data.Dy).astype(str))

data

,Yr,Mo,Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
0,61,1,1,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04
1,61,1,2,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83
2,61,1,3,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71
3,61,1,4,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88
4,61,1,5,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6569,78,12,27,17.58,16.96,17.62,8.08,13.21,11.67,14.46,15.59,14.04,14.00,17.21,40.08
6570,78,12,28,13.21,5.46,13.46,5.00,8.12,9.42,14.33,16.25,15.25,18.05,21.79,41.46
6571,78,12,29,14.00,10.29,14.42,8.71,9.71,10.54,19.17,12.46,14.50,16.42,18.88,29.58
6572,78,12,30,18.50,14.04,21.29,9.13,12.75,9.71,18.08,12.87,12.46,12.12,14.67,28.79
6573,78,12,31,20.33,17.41,27.29,9.59,12.08,10.13,19.25,11.63,11.58,11.38,12.08,22.08

### Step 4. Year 2061? Do we really have data from this year? Create a function to fix it and apply it.

In [102]:
dates -= pd.Timedelta(100 * 365, 'D')
dates

0      1961-01-26
1      1961-01-27
2      1961-01-28
3      1961-01-29
4      1961-01-30
          ...
6569   1979-01-21
6570   1979-01-22
6571   1979-01-23
6572   1979-01-24
6573   1979-01-25
Length: 6574, dtype: datetime64[ns]

### Step 5. Set the right dates as the index. Pay attention at the data type, it should be datetime64[ns].

In [103]:
data.index = dates
data.drop(columns=['Yr', 'Mo', 'Dy'], inplace=True)

### Step 6. Compute how many values are missing for each location over the entire record.  
#### They should be ignored in all calculations below.

In [104]:
data.isnull().sum()

RPT    6
VAL    3
ROS    2
KIL    5
SHA    2
BIR    0
DUB    3
CLA    2
MUL    3
CLO    1
BEL    0
MAL    4
dtype: int64

### Step 7. Compute how many non-missing values there are in total.

In [105]:
nonmissing = data.notnull().sum().sum()

### Step 8. Calculate the mean windspeeds of the windspeeds over all the locations and all the times.
#### A single number for the entire dataset.

In [106]:
# data.mean().mean()
data.sum().sum() / nonmissing

10.227883764282181

### Step 9. Create a DataFrame called loc_stats and calculate the min, max and mean windspeeds and standard deviations of the windspeeds at each location over all the days 

#### A different set of numbers for each location.

In [107]:
loc_stats = data.describe(percentiles=[])
loc_stats

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
count,6568.000000,6571.000000,6572.000000,6569.000000,6572.000000,6574.000000,6571.000000,6572.000000,6571.000000,6573.000000,6574.000000,6570.000000
mean,12.362987,10.644314,11.660526,6.306468,10.455834,7.092254,9.797343,8.495053,8.493590,8.707332,13.121007,15.599079
std,5.618413,5.267356,5.008450,3.605811,4.936125,3.968683,4.977555,4.499449,4.166872,4.503954,5.835037,6.699794
min,0.670000,0.210000,1.500000,0.000000,0.130000,0.000000,0.000000,0.000000,0.000000,0.040000,0.130000,0.670000
50%,11.710000,10.170000,10.920000,5.750000,9.960000,6.830000,9.210000,8.080000,8.170000,8.290000,12.500000,15.000000
max,35.800000,33.370000,33.840000,28.460000,37.540000,26.160000,30.370000,31.080000,25.880000,28.210000,42.380000,42.540000

### Step 10. Create a DataFrame called day_stats and calculate the min, max and mean windspeed and standard deviations of the windspeeds across all the locations at each day.

#### A different set of numbers for each day.

In [108]:
day_stats = data.T.describe().drop(index=['25%', '50%', '75%'])
day_stats

,1961-01-26,1961-01-27,1961-01-28,1961-01-29,1961-01-30,1961-01-31,1961-02-01,1961-02-02,1961-02-03,1961-02-04,...,1979-01-16,1979-01-17,1979-01-18,1979-01-19,1979-01-20,1979-01-21,1979-01-22,1979-01-23,1979-01-24,1979-01-25
count,11.000000,11.000000,11.000000,12.000000,12.000000,12.000000,12.000000,12.000000,12.000000,12.00000,...,12.000000,12.000000,12.000000,12.000000,12.000000,12.000000,12.000000,12.000000,12.000000,12.000000
mean,13.018182,11.336364,11.641818,6.619167,10.630000,8.240000,10.385000,10.487500,9.897500,10.47750,...,7.000833,15.613333,10.823333,5.729167,6.523333,16.708333,15.150000,14.890000,15.367500,15.402500
std,2.808875,3.188994,3.681912,3.198126,2.445356,2.998063,3.072114,3.547237,2.905954,3.44261,...,3.237337,3.850840,7.195039,3.583263,4.304510,7.868076,9.687857,5.756836,5.540437,5.702483
min,9.290000,6.500000,6.170000,1.790000,6.170000,4.420000,4.960000,5.910000,4.750000,6.54000,...,2.460000,9.500000,4.790000,0.750000,1.960000,8.080000,5.000000,8.710000,9.130000,9.590000
max,18.500000,17.540000,18.500000,11.750000,13.330000,13.210000,14.290000,16.620000,15.370000,19.50000,...,13.080000,22.210000,31.710000,13.960000,13.830000,40.080000,41.460000,29.580000,28.790000,27.290000

### Step 11. Find the average windspeed in January for each location.  
#### Treat January 1961 and January 1962 both as January.

In [114]:
data[data.index.month == 1].mean()

RPT    14.110735
VAL    11.787540
ROS    13.070538
KIL     6.638315
SHA    10.785655
BIR     7.549570
DUB    11.496900
CLA     8.856194
MUL     9.136846
CLO     9.387348
BEL    13.839104
MAL    18.200341
dtype: float64

### Step 12. Downsample the record to a yearly frequency for each location.

In [110]:
data.resample('1AS').mean()

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
1961-01-01,12.083851,10.215045,11.140237,6.945952,10.816183,7.674676,9.586617,8.891213,8.704599,9.877788,13.603000,13.802433
1962-01-01,12.122692,10.027863,11.710548,6.766758,10.508795,7.258219,10.792247,8.572548,8.075753,9.455315,12.636575,13.703874
1963-01-01,13.004438,10.961918,12.581342,7.540274,11.884082,8.601425,11.370575,10.450082,9.171041,10.410658,13.766877,15.354877
1964-01-01,12.297514,10.856448,12.047240,6.787213,11.505656,7.610410,10.173634,9.576557,7.756366,10.155492,13.699945,14.818087
1965-01-01,12.509863,11.070301,11.995973,6.847945,10.958219,7.446822,10.688548,8.863151,7.902932,9.937425,13.076795,15.747507
1966-01-01,13.367342,11.447151,12.063644,7.207945,11.572932,7.613589,10.316575,8.669890,8.250055,9.735041,13.974986,15.959699
1967-01-01,12.892959,11.242438,11.747836,7.266247,11.893726,7.643452,10.827836,9.448877,8.798110,9.692712,14.920877,17.131233
1968-01-01,11.838115,10.446694,11.333579,6.568251,10.888251,6.154454,9.050273,8.420000,7.341913,7.795437,13.043634,15.072787
1969-01-01,11.174521,9.670027,10.925973,5.819233,9.871808,6.025836,8.521863,7.588822,7.882767,7.860603,12.532795,15.891781
1970-01-01,12.655589,10.924493,11.593945,6.192137,10.601918,7.760247,9.734329,8.506110,9.387288,8.346603,13.486712,16.534767
1971-01-01,11.145562,8.918904,11.092219,5.140959,9.281918,5.868849,8.035945,6.515288,7.670438,6.918000,11.601479,14.595671
1972-01-01,12.407623,10.286093,12.135820,5.868497,9.426503,6.292842,9.802049,7.586503,8.404454,7.625628,12.733661,15.246803
1973-01-01,11.900411,10.855342,10.830082,5.687205,9.660959,6.726274,8.557370,7.776904,8.284110,7.799288,12.451178,15.394822
1974-01-01,13.269863,11.420164,12.063753,6.112000,10.672219,6.574466,9.655205,9.419973,8.935151,8.508164,12.891397,16.648164
1975-01-01,12.591699,11.003178,11.868712,5.706493,9.997973,6.126822,9.045205,8.522603,9.304247,7.812055,13.127781,15.740027
1976-01-01,11.716448,10.146230,10.802568,5.170956,8.750738,6.173306,9.337514,7.233251,9.039891,7.948770,12.639699,15.698552
1977-01-01,12.935397,10.940767,12.505205,5.870411,9.779890,8.419781,11.213781,8.024712,8.827014,8.660986,13.091973,16.379562
1978-01-01,12.396356,10.990959,11.177753,6.054411,10.173260,7.663342,9.542959,8.806110,9.085534,8.184192,12.943096,16.570904
1979-01-01,15.329600,12.732400,15.098000,6.567600,10.310800,8.136400,11.049200,9.529600,9.706400,10.090800,12.970400,20.754800

### Step 13. Downsample the record to a monthly frequency for each location.

In [111]:
data.resample('M').mean()

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
1961-01-31,14.228333,11.968000,11.576667,7.223333,8.882000,6.550000,11.273333,6.608000,8.840000,8.940000,12.548333,12.910000
1961-02-28,15.135556,12.530357,13.464286,7.643214,11.704444,8.825000,11.022857,9.255714,8.947857,9.988929,13.785000,14.369286
1961-03-31,15.239355,14.222258,14.086333,9.130000,13.203871,10.767419,11.301613,12.089032,11.725000,12.934516,18.905484,15.535667
1961-04-30,11.184828,10.836000,11.061667,7.181379,10.412667,8.973333,9.656000,9.509000,10.327241,10.628000,15.915000,15.588667
1961-05-31,11.218065,10.174194,10.343226,6.393871,9.256129,6.883871,7.481613,7.807742,7.785161,7.975806,11.781290,10.618387
...,...,...,...,...,...,...,...,...,...,...,...,...
1978-09-30,8.764000,7.816667,8.323333,4.147333,6.542000,6.019333,5.457000,5.150000,7.282667,5.552667,10.326667,12.361667
1978-10-31,11.598065,11.512258,11.345484,6.076129,11.357097,9.501935,11.399032,10.471290,10.681290,9.742581,16.946129,20.719677
1978-11-30,10.554000,9.510333,9.683667,5.219333,8.785667,7.124667,8.365333,7.781333,8.569000,8.723000,14.596667,17.123333
1978-12-31,17.101935,15.278065,14.468387,7.627419,12.347097,9.592903,12.518065,10.001613,11.260645,11.311290,16.889677,21.444839
1979-01-31,15.329600,12.732400,15.098000,6.567600,10.310800,8.136400,11.049200,9.529600,9.706400,10.090800,12.970400,20.754800

### Step 14. Downsample the record to a weekly frequency for each location.

In [112]:
weeks = data.resample('W').mean()

### Step 15. Calculate the min, max and mean windspeeds and standard deviations of the windspeeds across all locations for each week (assume that the first week starts on January 2 1961) for the first 52 weeks.

In [113]:
weeks[:52].describe()

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
count,52.000000,52.000000,52.000000,52.000000,52.000000,52.000000,52.000000,52.000000,52.000000,52.000000,52.000000,52.000000
mean,12.355469,10.375879,11.341699,6.968636,10.899776,7.749210,9.708409,8.886094,8.694357,9.847596,13.548070,13.671291
std,3.019324,2.690446,2.710988,1.772389,2.407320,2.088171,2.732985,2.173264,2.165310,2.312079,3.294982,3.292887
min,5.667143,4.458333,5.655714,3.452857,5.465714,3.690000,4.185714,4.377143,3.615714,5.488571,6.262857,6.905714
25%,9.997500,8.689107,9.190357,5.823571,9.433571,6.545357,7.311071,7.478929,7.270000,8.263929,11.220714,11.128571
50%,11.988690,9.852857,11.020000,6.992143,10.778571,7.545000,9.657857,8.816429,8.402143,9.360000,13.356429,13.093929
75%,14.112143,11.795000,12.764286,7.777143,12.407143,8.891071,11.351071,10.615000,10.003571,11.527500,15.698571,16.311786
max,19.172857,17.588571,17.751429,11.838571,16.664286,12.911429,16.670000,13.134286,13.577143,15.734286,21.040000,22.255714