# Housing Market

### Introduction:

This time we will create our own dataset with fictional numbers to describe a house market. As we are going to create random data don't try to reason of the numbers.

### Step 1. Import the necessary libraries

In [64]:
import pandas as pd
import numpy as np

### Step 2. Create 3 differents Series, each of length 100, as follows: 
1. The first a random number from 1 to 4 
2. The second a random number from 1 to 3
3. The third a random number from 10,000 to 30,000

In [65]:
first = pd.Series(np.random.randint(1, 4 + 1, 100))
second = pd.Series(np.random.randint(1, 3 + 1, 100))
third = pd.Series(np.random.randint(10000, 30000 + 1, 100))

### Step 3. Let's create a DataFrame by joinning the Series by column

In [66]:
market = pd.concat([first, second, third], axis=1)

### Step 4. Change the name of the columns to bedrs, bathrs, price_sqr_meter

In [67]:
market.columns = ['bedrs', 'bathrs', 'price_sqr_meter']
#or
market.rename(columns={0: 'bedrs', 1: 'bathrs', 2: 'price_sqr_meter'})

market

    bedrs  bathrs  price_sqr_meter
0       1       2            18985
1       1       3            10004
2       3       3            23044
3       1       2            24972
4       4       1            20255
..    ...     ...              ...
95      2       2            16201
96      3       1            20389
97      3       1            10320
98      4       1            25178
99      2       2            27755

[100 rows x 3 columns]

### Step 5. Create a one column DataFrame with the values of the 3 Series and assign it to 'bigcolumn'

In [68]:
bigcolumn = pd.concat([first, second, third]).to_frame()
bigcolumn

        0
0       1
1       1
2       3
3       1
4       4
..    ...
95  16201
96  20389
97  10320
98  25178
99  27755

[300 rows x 1 columns]

### Step 6. Oops, it seems it is going only until index 99. Is it true?

In [69]:
len(bigcolumn)

300

### Step 7. Reindex the DataFrame so it goes from 0 to 299

In [71]:
bigcolumn.index = range(0, 300)
#or
bigcolumn.reset_index(inplace=True, drop=True)

bigcolumn

     index      0
0        0      1
1        1      1
2        2      3
3        3      1
4        4      4
..     ...    ...
295    295  16201
296    296  20389
297    297  10320
298    298  25178
299    299  27755

[300 rows x 2 columns]