In [1]:
import numpy as np
import pandas as pd
import seaborn
from datetime import datetime

pd.__version__

'1.2.2'

### 1.1 OBJECTS: SERIES

In [2]:
print(pd.Series([2, 4, 6]))
print(pd.Series(5, index=[100, 200, 300]))
names = pd.Series({10: 'Mike', 20: 'Jane', 30: 'Dick'})
ages = pd.Series({4: 0, 20: 12, 10: 22, 30: 37}, index=[30, 10, 20])
print(names)
print(ages)
print(ages.dtype)
print(ages.index)
print(ages.values, '\n')

0    2
1    4
2    6
dtype: int64
100    5
200    5
300    5
dtype: int64
10    Mike
20    Jane
30    Dick
dtype: object
30    37
10    22
20    12
dtype: int64
int64
Int64Index([30, 10, 20], dtype='int64')
[37 22 12]

### 1.2 OBJECTS: DATAFRAME

In [3]:
pd.DataFrame(names, columns=['name'])  #single row
print(names.to_frame()) #same
people = pd.DataFrame({'name': names, 'age': {20: 12, 10: 22, 30: 37}})  #dictionary
print(people)
print(pd.DataFrame([{'a': i + 2, 'b': i * 3} for i in range(2, 5)], index=range(2, 5)))  #dictionary + comprehension
print(pd.DataFrame(np.random.random((2, 2)), index=['cacao', 'beans'], columns=['water', 'pedal']))  #np array
print(pd.DataFrame(np.zeros(3, [('name', 'U10'), ('age', 'i4')])))  #np structure
print(people.columns)
print(people.dtypes)
print(people.info(), '\n')

       0
10  Mike
20  Jane
30  Dick
    name  age
10  Mike   22
20  Jane   12
30  Dick   37
   a   b
2  4   6
3  5   9
4  6  12
          water     pedal
cacao  0.961213  0.600299
beans  0.746341  0.174166
  name  age
0         0
1         0
2         0
Index(['name', 'age'], dtype='object')
name    object
age      int64
dtype: object
<class 'pandas.core.frame.DataFrame'>
Int64Index: 3 entries, 10 to 30
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    3 non-null      object
 1   age     3 non-null      int64
dtypes: int64(1), object(1)
memory usage: 72.0+ bytes
None

### 1.3 OBJECTS: INDEX

In [4]:
ind1 = pd.Index([2, 3, 5, 7, 11])
ind2 = pd.Index([7, 5, 6, 2])
print(ind2)
print(ind1 | ind2)
print(ind1.intersection(ind2))

Int64Index([7, 5, 6, 2], dtype='int64')
Int64Index([2, 3, 5, 6, 7, 11], dtype='int64')
Int64Index([2, 5, 7], dtype='int64')

<ipython-input-4-8ed9c079494f>:4: FutureWarning: Index.__or__ operating as a set operation is deprecated, in the future this will be a logical operation matching Series.__or__.  Use index.union(other) instead
  print(ind1 | ind2)

### 2.1 INDEXING: SERIES

In [5]:
print(30 in names)
print(names.keys())
print(list(names.items()))
print(names.index.is_unique, '\n')

names[69] = 'L1L'
print(names[30:69])
print(names.loc[30:69])  #same as above
print(names[1:3])
print(names.iloc[1:3], '\n')  #same as above

print(names[names > 'Dick'])  #masking
print(names.loc[[10, 30]])  #fancy indexing

True
Int64Index([10, 20, 30], dtype='int64')
[(10, 'Mike'), (20, 'Jane'), (30, 'Dick')]
True

Series([], dtype: object)
30    Dick
69     L1L
dtype: object
20    Jane
30    Dick
dtype: object
20    Jane
30    Dick
dtype: object

10    Mike
20    Jane
69     L1L
dtype: object
10    Mike
30    Dick
dtype: object

### 2.2 INDEXING: DATAFRAME

In [6]:
print(people['name'])  #[column]
print(people.name, '\n')

print(people.T[20])
print(people.loc[20], '\n')  #returns Series [row]

print(people['name'][20])
print(people.loc[20, ['age', 'name']])  # [row, column]
print(people.iloc[[0, 2], 0], '\n')  #[row_i, column_i]

print(people.loc[names > 'Dick', 'name'])
print(people.iloc[0:2], '\n')  #returns Dataframe

print(people[10:20])  #[row]
print(people[0:2])  #[row_i]
print(people[names > 'Dick'])  #[row]

10    Mike
20    Jane
30    Dick
Name: name, dtype: object
10    Mike
20    Jane
30    Dick
Name: name, dtype: object

name    Jane
age       12
Name: 20, dtype: object
name    Jane
age       12
Name: 20, dtype: object

Jane
age       12
name    Jane
Name: 20, dtype: object
10    Mike
30    Dick
Name: name, dtype: object

10    Mike
20    Jane
Name: name, dtype: object
    name  age
10  Mike   22
20  Jane   12

Empty DataFrame
Columns: [name, age]
Index: []
    name  age
10  Mike   22
20  Jane   12
    name  age
10  Mike   22
20  Jane   12

<ipython-input-6-9c3ec4eab0f5>:16: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  print(people[names > 'Dick'])  #[row]

### .3 MODIFYING

In [7]:
people0 = people.copy()
people0['adult'] = (people0['age'] > 18)
print(people0.sort_index(ascending=False))
print(people0.sort_values(by=['age', 'name'], axis=0))
print(people0.drop([20], axis=0))
del people0['age']
print(people0)

    name  age  adult
30  Dick   37   True
20  Jane   12  False
10  Mike   22   True
    name  age  adult
20  Jane   12  False
10  Mike   22   True
30  Dick   37   True
    name  age  adult
10  Mike   22   True
30  Dick   37   True
    name  adult
10  Mike   True
20  Jane  False
30  Dick   True

### .4 REINDEXING

In [8]:
print(people0.reindex([30, 20, 55, 10], method='ffill')) #change position
print(people0.reindex(columns=['adult', 'age', 'name']))
people0.index.name = 'id'
print(people0.reset_index())
print(people0.index.map(lambda x: x * 100))
print(people0.rename(index={20: 228, 30: 322}, columns=str.upper))

    name  adult
30  Dick   True
20  Jane  False
55  Dick   True
10  Mike   True
    adult  age  name
10   True  NaN  Mike
20  False  NaN  Jane
30   True  NaN  Dick
   id  name  adult
0  10  Mike   True
1  20  Jane  False
2  30  Dick   True
Int64Index([1000, 2000, 3000], dtype='int64', name='id')
     NAME  ADULT
id
10   Mike   True
228  Jane  False
322  Dick   True

### .5 SAMPLING

In [9]:
print(pd.cut(range(100), [0, 18, 50, 100], right=False))  #return pd.Categorical
print(pd.cut(people['age'], 3, labels=['small', 'medium', 'big']))  #return pd.Series
print(people0.sample(n=2, replace=True))

[[0, 18), [0, 18), [0, 18), [0, 18), [0, 18), ..., [50, 100), [50, 100), [50, 100), [50, 100), [50, 100)]
Length: 100
Categories (3, interval[int64]): [[0, 18) < [18, 50) < [50, 100)]
10    medium
20     small
30       big
Name: age, dtype: category
Categories (3, object): ['small' < 'medium' < 'big']
    name  adult
id
10  Mike   True
20  Jane  False

### .6 UNIQUE VALUES

In [10]:
nice = pd.DataFrame(np.tile(np.arange(20, 0, -5).reshape(2, 2), (3, 2)), columns=list('ZXCV'))
print(nice.nunique(axis=1))
print(nice.value_counts())
print(nice.count(axis=0))
print(nice.isin([0, 15]))
print(people0.index.get_indexer([0, 20, 10, 30]))
print(pd.get_dummies(nice['Z'], prefix='key'))

0    2
1    2
2    2
3    2
4    2
5    2
dtype: int64
Z   X   C   V
10  5   10  5     3
20  15  20  15    3
dtype: int64
Z    6
X    6
C    6
V    6
dtype: int64
       Z      X      C      V
0  False   True  False   True
1  False  False  False  False
2  False   True  False   True
3  False  False  False  False
4  False   True  False   True
5  False  False  False  False
[-1  1  0  2]
   key_10  key_20
0       0       1
1       1       0
2       0       1
3       1       0
4       0       1
5       1       0

### 3 UF

In [11]:
def trans(x):
    x['D'] = x['A'] + x['B']
    return x


rnd1 = pd.DataFrame(np.random.RandomState(13).randint(0, 10, (4, 3)), columns=list('ABC'))
rnd2 = pd.DataFrame(np.random.RandomState(13).randint(0, 10, (3, 3)), columns=list('BCD'))
print(np.exp(rnd1))
print(np.sin(rnd2 * np.pi / 4))
print(rnd1 + rnd2)  #alignment
print(rnd1.mul(rnd2, fill_value=0))
print(rnd1 - rnd1.iloc[0])  #translation by row
print(rnd1.sub(pd.Series(np.arange(4)), axis=0), '\n')  #translation by column

# YOU ALSO CAN USE FUNCTIONS FROM 8.2 (out of grouping), but they have another functionality
print(rnd1.apply(lambda x: x.max()))  # (Series) -> (any)           == group.transform()           == applymap() if we work with selected Series
print(rnd1.transform(trans))  # (DataFrame) -> (DataFrame)          == group.apply(),   !!!MODIFIES!!!
print(rnd1.applymap(lambda x: x * 100))  # (element) -> (element)
print(rnd1.filter(regex='A|D'))  #absolutely different functionality

             A           B           C
0     7.389056    1.000000    1.000000
1   403.428793    7.389056   54.598150
2  8103.083928   20.085537   54.598150
3     7.389056  403.428793  148.413159
          B         C             D
0  1.000000  0.000000  0.000000e+00
1 -1.000000  1.000000  1.224647e-16
2  0.707107  0.707107  1.224647e-16
    A     B    C   D
0 NaN   2.0  0.0 NaN
1 NaN   8.0  6.0 NaN
2 NaN  12.0  7.0 NaN
3 NaN   NaN  NaN NaN
     A     B     C    D
0  0.0   0.0   0.0  0.0
1  0.0  12.0   8.0  0.0
2  0.0  27.0  12.0  0.0
3  0.0   0.0   0.0  NaN
   A  B  C
0  0  0  0
1  4  2  4
2  7  3  4
3  0  6  5
   A  B  C
0  2  0  0
1  5  1  3
2  7  1  2
3 -1  3  2

A    9
B    6
C    5
dtype: int64
   A  B  C   D
0  2  0  0   2
1  6  2  4   8
2  9  3  4  12
3  2  6  5   8
     A    B    C     D
0  200    0    0   200
1  600  200  400   800
2  900  300  400  1200
3  200  600  500   800
   A   D
0  2   2
1  6   8
2  9  12
3  2   8

### 4 DATA CLEANING

In [12]:
rnd1.loc[0, 'A'] = rnd1.loc[[1, 2], 'C'] = np.nan
print(rnd1.isnull())
print(rnd1.dropna())
print(rnd1.dropna(axis=1, how='any'))
print(rnd1.dropna(axis=1, thresh=3))
print(rnd1.fillna(0))
print(rnd1.fillna(axis=1, method='ffill'))
print(rnd1.replace([np.nan, 0], 666))
print(rnd1.replace({np.nan: 666, 0: 777}), '\n')

dup = pd.concat([rnd1, rnd1.loc[3:4]])
print(dup.duplicated())
print(dup.drop_duplicates(['C'], keep='first'), '\n')

       A      B      C      D
0   True  False  False  False
1  False  False   True  False
2  False  False   True  False
3  False  False  False  False
     A  B    C  D
3  2.0  6  5.0  8
   B   D
0  0   2
1  2   8
2  3  12
3  6   8
     A  B   D
0  NaN  0   2
1  6.0  2   8
2  9.0  3  12
3  2.0  6   8
     A  B    C   D
0  0.0  0  0.0   2
1  6.0  2  0.0   8
2  9.0  3  0.0  12
3  2.0  6  5.0   8
     A    B    C     D
0  NaN  0.0  0.0   2.0
1  6.0  2.0  2.0   8.0
2  9.0  3.0  3.0  12.0
3  2.0  6.0  5.0   8.0
       A    B      C   D
0  666.0  666  666.0   2
1    6.0    2  666.0   8
2    9.0    3  666.0  12
3    2.0    6    5.0   8
       A    B      C   D
0  666.0  777  777.0   2
1    6.0    2  666.0   8
2    9.0    3  666.0  12
3    2.0    6    5.0   8

0    False
1    False
2    False
3    False
3     True
dtype: bool
     A  B    C  D
0  NaN  0  0.0  2
1  6.0  2  NaN  8
3  2.0  6  5.0  8

### 5.1 HIERARCHICAL INDEXING: MULTIINDEX OBJECT

In [13]:
mi = pd.MultiIndex(levels=[['A', 'B', 'C'], [1, 2, 3]], codes=[[0, 0, 0, 1, 2, 2], [0, 1, 2, 0, 0, 1]])
mi = pd.MultiIndex.from_tuples([('A', 1), ('A', 2), ('A', 3), ('B', 1), ('C', 1), ('C', 2)])
mi = pd.MultiIndex.from_arrays([['A', 'A', 'A', 'B', 'C', 'C'], [1, 2, 3, 1, 1, 2]])
print(mi)
mi = pd.MultiIndex.from_product([['A', 'B', 'C'], [1, 2]])
print(mi, '\n')

MultiIndex([('A', 1),
            ('A', 2),
            ('A', 3),
            ('B', 1),
            ('C', 1),
            ('C', 2)],
           )
MultiIndex([('A', 1),
            ('A', 2),
            ('B', 1),
            ('B', 2),
            ('C', 1),
            ('C', 2)],
           )

### 5.2 HI: CREATING

In [14]:
pd.Series({('A', 1): 6.9, ('A', 2): 7.0, ('B', 1): 8.0, ('B', 2): 8.3, ('C', 1): 8.0, ('C', 2): 7.7})  #same
film_rating = pd.DataFrame(np.array([[6.9, 7.0], [8.0, 8.3], [8.0, 7.7]]), index=['A', 'B', 'C'], columns=[1, 2])
film_rating.stack(level=0)  #same
print(film_rating.unstack().unstack(), '\n')  #WTF?

film_rating = pd.Series([6.9, 7.0, 8.0, 8.3, 8.0, 7.7],
                        index=[('A', 1), ('A', 2), ('B', 1), ('B', 2), ('C', 1), ('C', 2)])  #tuple-like indices
film_rating = film_rating.reindex(mi)  #same
film_rating.index.names = ['Film', 'Part']

flat = film_rating.reset_index(name='rating', drop=False)
print(flat, '\n')
print(flat.set_index(['Film', 'Part']), '\n')  #same (the most comfortable)

film_rating0 = pd.DataFrame(np.array([6.9, 7.0, 8.0, 8.3, 8.0, 7.7])[np.newaxis, :], columns=mi)
print(film_rating0)
print(film_rating0.swaplevel('Part', 'Film', axis=1).sort_index(axis=1), '\n')

print(flat.pivot('Part', 'Film', 'rating'))
print(pd.melt(flat, ['rating', 'Part']))

     A    B    C
1  6.9  8.0  8.0
2  7.0  8.3  7.7

  Film  Part  rating
0    A     1     6.9
1    A     2     7.0
2    B     1     8.0
3    B     2     8.3
4    C     1     8.0
5    C     2     7.7

           rating
Film Part
A    1        6.9
     2        7.0
B    1        8.0
     2        8.3
C    1        8.0
     2        7.7

Film    A         B         C
Part    1    2    1    2    1    2
0     6.9  7.0  8.0  8.3  8.0  7.7
Part    1              2
Film    A    B    C    A    B    C
0     6.9  8.0  8.0  7.0  8.3  7.7

Film    A    B    C
Part
1     6.9  8.0  8.0
2     7.0  8.3  7.7
   rating  Part variable value
0     6.9     1     Film     A
1     7.0     2     Film     A
2     8.0     1     Film     B
3     8.3     2     Film     B
4     8.0     1     Film     C
5     7.7     2     Film     C

### 5.3 HI: ACCESS

In [15]:
print(film_rating['C'])  # by row
print(film_rating[film_rating > 7.5])
print(film_rating.loc[(['C', 'B'], 1)], '\n')

print(film_rating0['A'])  #by column
print(film_rating0.loc[0, pd.IndexSlice[:, 1]])

Part
1    8.0
2    7.7
dtype: float64
Film  Part
B     1       8.0
      2       8.3
C     1       8.0
      2       7.7
dtype: float64
Film  Part
C     1       8.0
B     1       8.0
dtype: float64

Part    1    2
0     6.9  7.0
Film  Part
A     1       6.9
B     1       8.0
C     1       8.0
Name: 0, dtype: float64

### 5.4 HI: SORTING & AGGREGATING

In [16]:
film_rating.index = pd.MultiIndex.from_product([['D', 'B', 'C'], [1, 2]],
                                               names=['Film', 'Product'])  #in this case we can't slice
film_rating = film_rating.sort_index()
print(film_rating['C':'D'], '\n')  #only for sorted

print(film_rating.mean(level='Film'))
print(film_rating.idxmin())

Film  Product
C     1          8.0
      2          7.7
D     1          6.9
      2          7.0
dtype: float64

Film
B    8.15
C    7.85
D    6.95
dtype: float64
('D', 1)

### 6 CONCATENATION

In [17]:
def make_df(ind, col):
    return pd.DataFrame(data={c: [c + str(i) for i in ind] for c in col}, index=ind)


df1 = make_df(range(1, 4), 'abc')
df2 = make_df(range(2, 5), 'cde')
print(pd.concat([df1, df2]))
df1.append(df2)  #same; use concat() instead for multiple appending
print(pd.concat([df1, df2], ignore_index=True))
print(pd.concat([df1, df2, df1], axis='columns'))
print(pd.concat([df1, df2], join='inner', keys=['X', 'Y'], names=['upper', 'lower']))
print(df1.combine_first(df2))

     a    b   c    d    e
1   a1   b1  c1  NaN  NaN
2   a2   b2  c2  NaN  NaN
3   a3   b3  c3  NaN  NaN
2  NaN  NaN  c2   d2   e2
3  NaN  NaN  c3   d3   e3
4  NaN  NaN  c4   d4   e4
     a    b   c    d    e
0   a1   b1  c1  NaN  NaN
1   a2   b2  c2  NaN  NaN
2   a3   b3  c3  NaN  NaN
3  NaN  NaN  c2   d2   e2
4  NaN  NaN  c3   d3   e3
5  NaN  NaN  c4   d4   e4
     a    b    c    c    d    e    a    b    c
1   a1   b1   c1  NaN  NaN  NaN   a1   b1   c1
2   a2   b2   c2   c2   d2   e2   a2   b2   c2
3   a3   b3   c3   c3   d3   e3   a3   b3   c3
4  NaN  NaN  NaN   c4   d4   e4  NaN  NaN  NaN
              c
upper lower
X     1      c1
      2      c2
      3      c3
Y     2      c2
      3      c3
      4      c4
     a    b   c    d    e
1   a1   b1  c1  NaN  NaN
2   a2   b2  c2   d2   e2
3   a3   b3  c3   d3   e3
4  NaN  NaN  c4   d4   e4

### 7 MERGING

In [18]:
guys = pd.DataFrame({'name': ['John', 'Corey', 'Jack', 'Adam'], 'role': ['design', 'dev', 'dev', 'man']})
tasks = pd.DataFrame({'task': ['A', 'A', 'B', 'B', 'B', 'C'], 'role': ['writer', 'man', 'design', 'dev', 'man', 'dev']})
teams = pd.Series({'John': 'Nice', 'Corey': 'Nice', 'Jack': 'Rofl', 'Adam': 'Lmao'}, name='team')
print(pd.merge(guys, tasks, on='role'))
print(pd.merge(guys, tasks, how='right', indicator='origin'), '\n')

tasks1 = tasks.rename(columns={'role': 'responsibility'})
merged = pd.merge(guys, tasks1, left_on='role', right_on='responsibility')
print(merged, '\n')

print(pd.merge(guys, teams, left_on=['name'], right_index=True))
print(guys.set_index('name').join(teams))  #by index
print(pd.merge(guys, tasks, left_index=True, right_index=True, suffixes=['_L', '_R']))

    name    role task
0   John  design    B
1  Corey     dev    B
2  Corey     dev    C
3   Jack     dev    B
4   Jack     dev    C
5   Adam     man    A
6   Adam     man    B
    name    role task      origin
0    NaN  writer    A  right_only
1   Adam     man    A        both
2   John  design    B        both
3  Corey     dev    B        both
4   Jack     dev    B        both
5   Adam     man    B        both
6  Corey     dev    C        both
7   Jack     dev    C        both

    name    role task responsibility
0   John  design    B         design
1  Corey     dev    B            dev
2  Corey     dev    C            dev
3   Jack     dev    B            dev
4   Jack     dev    C            dev
5   Adam     man    A            man
6   Adam     man    B            man

    name    role  team
0   John  design  Nice
1  Corey     dev  Nice
2   Jack     dev  Rofl
3   Adam     man  Lmao
         role  team
name
John   design  Nice
Corey     dev  Nice
Jack      dev  Rofl
Adam      man  Lmao
    name  role_L task  role_R
0   John  design    A  writer
1  Corey     dev    A     man
2   Jack     dev    B  design
3   Adam     man    B     dev

### 8.1 GROUPING (split -> apply -> merge): INTERACTION

In [19]:
planets = seaborn.load_dataset('planets')
rnd_df = pd.DataFrame({'A': np.random.rand(5), 'B': np.random.rand(5)})
print(planets.describe(include='all'))
print(rnd_df.std(axis=1, skipna=True), '\n')

print(planets.groupby(planets['method'], axis=0, level=0))
print(planets.groupby('method')['year'])
print(planets.groupby('method').median().head(), '\n')

for (method, group) in planets.groupby('method'):
    print("{0:30s} shape={1}".format(method, group.shape))
print(planets.groupby('method')['year'].describe().unstack().head(), '\n')  #dispatching

                 method       number  orbital_period        mass     distance  \
count              1035  1035.000000      992.000000  513.000000   808.000000
unique               10          NaN             NaN         NaN          NaN
top     Radial Velocity          NaN             NaN         NaN          NaN
freq                553          NaN             NaN         NaN          NaN
mean                NaN     1.785507     2002.917596    2.638161   264.069282
std                 NaN     1.240976    26014.728304    3.818617   733.116493
min                 NaN     1.000000        0.090706    0.003600     1.350000
25%                 NaN     1.000000        5.442540    0.229000    32.560000
50%                 NaN     1.000000       39.979500    1.260000    55.250000
75%                 NaN     2.000000      526.005000    3.040000   178.500000
max                 NaN     7.000000   730000.000000   25.000000  8500.000000

               year
count   1035.000000
unique          NaN
top             NaN
freq            NaN
mean    2009.070531
std        3.972567
min     1989.000000
25%     2007.000000
50%     2010.000000
75%     2012.000000
max     2014.000000
0    0.133906
1    0.031301
2    0.171350
3    0.553627
4    0.118340
dtype: float64

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x000001348CB9D6A0>
<pandas.core.groupby.generic.SeriesGroupBy object at 0x000001348CBB16A0>
                               number  orbital_period   mass  distance    year
method
Astrometry                        1.0      631.180000    NaN    17.875  2011.5
Eclipse Timing Variations         2.0     4343.500000  5.125   315.360  2010.0
Imaging                           1.0    27500.000000    NaN    40.395  2009.0
Microlensing                      1.0     3300.000000    NaN  3840.000  2010.0
Orbital Brightness Modulation     2.0        0.342887    NaN  1180.000  2011.0

Astrometry                     shape=(2, 6)
Eclipse Timing Variations      shape=(9, 6)
Imaging                        shape=(38, 6)
Microlensing                   shape=(23, 6)
Orbital Brightness Modulation  shape=(3, 6)
Pulsar Timing                  shape=(5, 6)
Pulsation Timing Variations    shape=(1, 6)
Radial Velocity                shape=(553, 6)
Transit                        shape=(397, 6)
Transit Timing Variations      shape=(4, 6)
       method
count  Astrometry                        2.0
       Eclipse Timing Variations         9.0
       Imaging                          38.0
       Microlensing                     23.0
       Orbital Brightness Modulation     3.0
dtype: float64

### 8.2 GROUPING: FUNCTIONS

In [20]:
def agg_func(x):  #(Series) -> (Series)
    return x.max() - x.min()


def filter_func(x):  #(group)->(bool mask))
    return (x['orbital_period'].std() > 100) & (x['orbital_period'].sum() != np.nan)


def apply_func(x):  #(DataFrame)->(pandas object / number))
    x['coef'] = x['orbital_period'] / x['mass']
    return x


transform_func = lambda x: x - x.mean()  #(Series) -> (Series)

print(planets.groupby('method')['year'].aggregate([np.min, 'median', max, agg_func]).head())
print(planets.groupby('method').filter(filter_func).head())
print(planets.groupby('method')['orbital_period'].transform(transform_func).head())
print(planets.groupby('method').apply(apply_func).head(), '\n')

                               amin  median   max  agg_func
method
Astrometry                     2010  2011.5  2013         3
Eclipse Timing Variations      2008  2010.0  2012         4
Imaging                        2004  2009.0  2013         9
Microlensing                   2004  2010.0  2013         9
Orbital Brightness Modulation  2011  2011.0  2013         2
            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009
0   -554.05468
1     51.41932
2    -60.35468
3   -497.32468
4   -307.13468
Name: orbital_period, dtype: float64
            method  number  orbital_period   mass  distance  year        coef
0  Radial Velocity       1         269.300   7.10     77.40  2006   37.929577
1  Radial Velocity       1         874.774   2.21     56.95  2008  395.825339
2  Radial Velocity       1         763.000   2.60     19.84  2011  293.461538
3  Radial Velocity       1         326.030  19.40    110.62  2007   16.805670
4  Radial Velocity       1         516.220  10.50    119.47  2009   49.163810

### 8.3 GROUPING: SPLITTING BY KEY

In [21]:
print(planets.groupby(pd.cut(planets['year'], 4)).median())
print(rnd_df.groupby([0, 0, 1, 1, 1]).sum())  #by row
print(rnd_df.groupby({0: 'small', 1: 'small', 2: 'small', 3: 'big', 4: 'big'}).sum())
print(rnd_df.groupby(lambda x: x % 2 == 0).sum())
print(rnd_df.groupby([(lambda x: x % 2 == 0), {0: 'small', 1: 'small', 2: 'small', 3: 'big', 4: 'big'}]).sum())
print(planets.groupby(['method', 'number'])['distance'].size().tail())  # #by column first (multi-index output)

                     number  orbital_period    mass  distance  year
year
(1988.975, 1995.25]       3         66.5419  6.0760    27.965  1992
(1995.25, 2001.5]         1        241.2580  1.9400    28.940  2000
(2001.5, 2007.75]         1        310.5500  1.7050    46.425  2005
(2007.75, 2014.0]         1         24.8060  0.8975    82.000  2011
          A         B
0  0.557721  0.702827
1  1.287238  1.995217
              A         B
big    0.762478  1.712782
small  1.082482  0.985262
              A         B
False  0.491639  1.230320
True   1.353321  1.467724
                    A         B
False big    0.123006  0.905953
      small  0.368633  0.324367
True  big    0.639472  0.806829
      small  0.713849  0.660895
method                     number
Transit                    5         25
                           6          6
                           7          7
Transit Timing Variations  2          3
                           3          1
Name: distance, dtype: int64

### 9 PIVOT TABLES

In [22]:
titanic = seaborn.load_dataset('titanic')
print(titanic.pivot_table(values='survived', index='sex', columns='class'))  #aggregate by mean as default
age = pd.cut(titanic['age'], [0, 18, 80])  #return pd.Series
fare = pd.qcut(titanic['fare'], 2)  #too
print(age.value_counts())
print(fare.value_counts(), '\n')

print(titanic.pivot_table('survived', ['sex', age], 'class'))  #3-dimensional
print(titanic.pivot_table('survived', ['sex', age], [fare, 'class']))  #4-dimensional
print(titanic.pivot_table(aggfunc={'survived': 'sum', 'fare': 'mean'}, index='sex', columns='class'),
      '\n')  #4-dimensional

print(titanic.pivot_table('survived', 'sex', 'class', margins=True))  #total
print(pd.crosstab([titanic.sex, titanic['class']], titanic['survived'], margins=True))  #count

class      First    Second     Third
sex
female  0.968085  0.921053  0.500000
male    0.368852  0.157407  0.135447
(18, 80]    575
(0, 18]     139
Name: age, dtype: int64
(-0.001, 14.454]     447
(14.454, 512.329]    444
Name: fare, dtype: int64

class               First    Second     Third
sex    age
female (0, 18]   0.909091  1.000000  0.511628
       (18, 80]  0.972973  0.900000  0.423729
male   (0, 18]   0.800000  0.600000  0.215686
       (18, 80]  0.375000  0.071429  0.133663
fare            (-0.001, 14.454]                     (14.454, 512.329]  \
class                      First    Second     Third             First
sex    age
female (0, 18]               NaN  1.000000  0.714286          0.909091
       (18, 80]              NaN  0.880000  0.444444          0.972973
male   (0, 18]               NaN  0.000000  0.260870          0.800000
       (18, 80]              0.0  0.098039  0.125000          0.391304

fare
class              Second     Third
sex    age
female (0, 18]   1.000000  0.318182
       (18, 80]  0.914286  0.391304
male   (0, 18]   0.818182  0.178571
       (18, 80]  0.030303  0.192308
              fare                       survived
class        First     Second      Third    First Second Third
sex
female  106.125798  21.970121  16.118810       91     70    72
male     67.226127  19.741782  12.661633       45     17    47

class      First    Second     Third       All
sex
female  0.968085  0.921053  0.500000  0.742038
male    0.368852  0.157407  0.135447  0.188908
All     0.629630  0.472826  0.242363  0.383838
survived         0    1  All
sex    class
female First     3   91   94
       Second    6   70   76
       Third    72   72  144
male   First    77   45  122
       Second   91   17  108
       Third   300   47  347
All            549  342  891

### 10 STRING OPERATIONS

In [23]:
print(names.str.lower())
print(names.str.contains(r'[AEIOUaeiou]$'))  #RegExp
print(names.str.slice(1, -1))

10    mike
20    jane
30    dick
69     l1l
dtype: object
10     True
20     True
30    False
69    False
dtype: bool
10    ik
20    an
30    ic
69     1
dtype: object

### 11.1 DATE & TIME: CREATING

In [24]:
date = pd.to_datetime("4th of July, 2015")  #same
print(pd.Timestamp(2015, 7, 4))  #same
print(date.strftime('%A'), '\n')

dates = pd.to_datetime(
    [datetime(2015, 7, 3), pd.Timestamp(2016, 7, 9), '4th of July, 2014', '2015-Jul-6', '07-07-2014', '20150708'])
print(dates)
print(dates.to_period('D'))
print(dates - dates[0])
print(dates + pd.to_timedelta(np.arange(6), 'D'))

2015-07-04 00:00:00
Saturday

DatetimeIndex(['2015-07-03', '2016-07-09', '2014-07-04', '2015-07-06',
               '2014-07-07', '2015-07-08'],
              dtype='datetime64[ns]', freq=None)
PeriodIndex(['2015-07-03', '2016-07-09', '2014-07-04', '2015-07-06',
             '2014-07-07', '2015-07-08'],
            dtype='period[D]', freq='D')
TimedeltaIndex(['0 days', '372 days', '-364 days', '3 days', '-361 days',
                '5 days'],
               dtype='timedelta64[ns]', freq=None)
DatetimeIndex(['2015-07-03', '2016-07-10', '2014-07-06', '2015-07-09',
               '2014-07-11', '2015-07-13'],
              dtype='datetime64[ns]', freq=None)

### 11.2 DATE & TIME: INDEXING

In [25]:
data = pd.Series(np.arange(6), index=dates)
print(data['2014-07-04':'2015-07-04'])
print(data['2015'])

2015-07-03    0
2014-07-04    2
2014-07-07    4
dtype: int32
2015-07-03    0
2015-07-06    3
2015-07-08    5
dtype: int32

### 11.3 DATE & TIME: METHODS

In [26]:
date_range = pd.date_range('2015-07-03', periods=100, freq='H')
data_series = pd.Series(np.arange(100), index=date_range)
print(date_range[:5])
print(pd.period_range('2015-07', periods=8, freq='M'))
print(pd.timedelta_range(0, periods=10, freq='2H30T'))
print(data_series.resample('D').sum())  #aggregates
print(data_series.asfreq('D'))  #takes value

DatetimeIndex(['2015-07-03 00:00:00', '2015-07-03 01:00:00',
               '2015-07-03 02:00:00', '2015-07-03 03:00:00',
               '2015-07-03 04:00:00'],
              dtype='datetime64[ns]', freq='H')
PeriodIndex(['2015-07', '2015-08', '2015-09', '2015-10', '2015-11', '2015-12',
             '2016-01', '2016-02'],
            dtype='period[M]', freq='M')
TimedeltaIndex(['0 days 00:00:00', '0 days 02:30:00', '0 days 05:00:00',
                '0 days 07:30:00', '0 days 10:00:00', '0 days 12:30:00',
                '0 days 15:00:00', '0 days 17:30:00', '0 days 20:00:00',
                '0 days 22:30:00'],
               dtype='timedelta64[ns]', freq='150T')
2015-07-03     276
2015-07-04     852
2015-07-05    1428
2015-07-06    2004
2015-07-07     390
Freq: D, dtype: int32
2015-07-03     0
2015-07-04    24
2015-07-05    48
2015-07-06    72
2015-07-07    96
Freq: D, dtype: int32

### 12 INCREASE IN PERFORMANCE

In [27]:
two = 2
print(pd.eval("(rnd2.B + 2 * rnd2.C) % (rnd2.D + 3)"))  #same 1
print(rnd2.eval("(B + 2 * C) % (D + 3)"))  #same 1
print(rnd2.eval("E = (B + 2 * C) % (D + 3)", inplace=True))
print(pd.eval("rnd2[(rnd2['B'] > two) & (rnd2['D'] == 4)]"))  #same 2
print(rnd2.query("(B > @two) & (D == 4)"))  #same 2

0    2
1    3
2    1
dtype: int32
0    2
1    3
2    1
dtype: int32
None
   B  C  D  E
1  6  2  4  3
2  9  3  4  1
   B  C  D  E
1  6  2  4  3
2  9  3  4  1